@import "tailwindcss";

@source "../../modules/*.php";
@source "../../partials/*.php";
@source "../../assets/js/app.js";

@layer utilities {
    .line-clamp-4 {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
